@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto+Mono:wght@200;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto Mono';
}

/*Header - Menu do site*/

.section-nav-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 5rem;
    background-color: #1B1A17;
}

.section-nav-topo nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.section-nav-topo {
    color: white;
}

.section-nav-topo p {
    margin-left: 2rem;
}

.section-nav-topo nav ul a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    margin-right: 2rem;
}


/*Main - Imagem e texto inicial*/

.foto-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.foto-principal img {
    width: 600px;
    height: 400px;
    background-size: cover;
    box-shadow: 0 0 20px 0 rgb(202, 202, 202);
}

.foto-principal .texto-inicio-1 h1 {
    margin-bottom: 1rem;
}

.foto-principal .texto-inicio-1 p {
    line-height: 30px;
    width: 410px;
    height: 100px;
}

.foto-principal .lista-inicio {
    position: relative;
    bottom: 1.5rem;
    left: 1.2em;
}

.background-colorido {
    width: 100%;
    height: 3rem;
    background-color: #F0A500;
}


/*Galeria de fotos com efeito hover*/

.titulo-galeria {
    text-align: center;
    background-color: #1B1A17;
    height: 100px;
    color: white;
}

.titulo-galeria h1 {
    font-size: 35px;
}

.galeria-de-fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 120vh;
    background-color: #F0A500;
}

.galeria-de-fotos img {
    width: 320px;
    height: 300px;
    background-size: cover;
    margin-left: 4rem;
    box-shadow: 0 0 20px 5px rgb(202, 202, 202);
    cursor: pointer;
    transition: 0.5s;
}

.galeria-de-fotos img:hover {
   transform: scale(1.1);
}


/*Seção Blog com últimas postagens*/

.blog {
    text-align: center;
    margin-bottom: 5rem;
    background-color: #1B1A17;
    color: white;
    height: 100px;
}

.blog h1 {
    font-size: 35px;
}

.section-blog {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section-blog p {
    width: 500px;
    height: 85vh;
    line-height: 30px;
    position: relative;
    top: 2em;
}

.section-blog img {
    width: 600px;
    height: 480px;
    background-size: cover;
}

.texto-blog {
    text-align: center;
    position: relative;
    top: 3rem;
}

.linha-blog {
    width: 400px;
    height: 1px;
    background-color: rgb(202, 202, 202);
    position: relative;
    left: 62%;
    bottom: 3.5rem;
}


/*Seção link para video*/

.section-video-youtube {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #1B1A17;
}

.section-video-youtube h2 {
    position: relative;
    bottom: 10px;
    color: #F0A500;
}

.section-video-youtube p {
    width: 400px;
    height: 150px;
    line-height: 25px;
    color: white;
}


/*Slider (4 fotos) com animation*/

.section-slider {
    width: 100%;
    position: relative;
    margin: 60px;
    left: 20%;
}

.section-slider img {
    width: 700px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes slide {

    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.section-slider img:nth-child(2) {
    animation-delay: 5s;
}
.section-slider img:nth-child(3) {
    animation-delay: 10s;
}
.section-slider img:nth-child(4) {
    animation-delay: 15s;
}


/*Cards*/

.cards {
    margin-top: 44rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    gap: 30px;
    margin-bottom: 5rem;
}

.section-cards {
    background-color: #F0A500;
    box-shadow: 0 0 20px 5px rgb(202, 202, 202);
}

.section-cards img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 35%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.section-cards p {
    text-align: center;
    width: 190px;
    height: 150px;
    line-height: 25px;
    color: white;
}



/*Cadastrar e-mail*/

.section-input {
    width: 100%;
    height: 10em;
    background-color: rgb(202, 202, 202);
}

.email {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.email p {
    text-transform: capitalize;
}

.email input {
    border: none;
}


/*Footer - Redes sociais*/

.footer {
    background-color: #1B1A17;
    width: 100%;
    height: 100px;
    color: white;
}

.section-social-media {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    gap: 15px;
    margin-right: 10px;
    position: relative;
    top: 40px;
}

.section-social-media img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.4s;
}

.section-social-media img:hover {
    transform: translateY(-10px);
}

.direito-autoral {
    position: relative;
    top: 20px;
    font-size: 14px;
    margin-left: 10px;
}